<li class="comment">
  <div class="body">
    <%= comment.body %>
  </div>
  <table>

  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <tr>
  <td><%= link_to 'Add a Reply', new_comment_comment_path(comment) %></td>


  </tr>
  </table>

  <% unless comment.comments.empty? %>
    <ul class="comment_list">
      <%= render :partial => 'comments/comment', :collection => comment.comments %>
    </ul>
  <% end %>
</li>