<h1>Listing of all comments</h1>

<table>
  <tr>

    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.body %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= link_to 'Destroy', comment, method: :delete, data:{confirm: 'Are you sure?' }%></td>
  </tr>
<% end %>
</table>

<br />
