<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>

        <%= gravatar_for @user %>
        <br />
        <h1>
        Welcome toXXcombinator, <%= @user.name %>!

      </h1>
      <br />
      <h3><%= link_to 'Check out all the posts', posts_path %></h3>
    </section>
  </aside>
</div>
